.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center; /* 헤더 내용을 중앙에 정렬 */
}

.header-container {
  background-color: #fff;
  position: fixed;
  width: 400px;
  max-width: 1200px; /* 페이지와 동일한 최대 너비 설정 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px; /* 헤더 높이 */
  border-bottom: 2px solid #f3f3f3;
}

.header-logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 73, 28);
  border-radius: 50%;
}

.header-logo img {
  width: 24px;
  height: 24px;
}

